<div class="grid grid-cols-2 gap-4">

  <div class="relative">
    <select
      #HomeSelect
      [(ngModel)]="homeTeamId"
      (ngModelChange)="homeTeamIdChange.emit($event)"
      class="w-full bg-white border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 cursor-pointer transition-colors"
    >
      <option [ngValue]="null" disabled>Sel. Local</option>

      @for (team of getLocalTeams(); track team.id) {
        <option [ngValue]="team.id">
          {{ team.name }}
        </option>
      }
    </select>
  </div>

  <div class="relative">
    <select
      [(ngModel)]="visitTeamId"
      (ngModelChange)="visitTeamIdChange.emit($event)"
      class="w-full bg-white border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 cursor-pointer transition-colors"
    >
      <option [ngValue]="null" disabled>Sel. Visitante</option>

      @for (team of getVisitTeams(); track team.id) {
        <option [ngValue]="team.id">
          {{ team.name }}
        </option>
      }
    </select>
  </div>

</div>